* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New", monospace;
}


body {

    min-height: 100vh;
    background:
    radial-gradient(circle at top, #1a0000, #000000 60%);

    color: #ffffff;

    overflow-x: hidden;

}



/* Scanline effect */

.scan {

    position: fixed;

    width: 100%;
    height: 100%;

    background:
    linear-gradient(
        transparent 50%,
        rgba(255,0,0,0.05) 50%
    );

    background-size: 100% 4px;

    pointer-events: none;

    animation: scanMove 8s linear infinite;

}


@keyframes scanMove {

    from {
        background-position:0 0;
    }

    to {
        background-position:0 100%;
    }

}




.container {

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:25px;

}




.alert-box {

    width:100%;

    max-width:750px;

    background:
    rgba(0,0,0,0.85);

    border:1px solid #ff0033;

    padding:35px;

    border-radius:15px;


    box-shadow:

    0 0 25px rgba(255,0,50,.7),

    inset 0 0 30px rgba(255,0,50,.1);


    text-align:center;

}





.logo img {

    width:140px;

    height:140px;

    object-fit:cover;

    border-radius:50%;

    border:3px solid #ff0033;


    box-shadow:

    0 0 25px #ff0033;


    margin-bottom:25px;

}





/* Glitch title */


.glitch {

    position:relative;

    font-size:35px;

    color:#ff0033;

    text-transform:uppercase;

    margin-bottom:20px;

}



.glitch::before,
.glitch::after {


    content:attr(data-text);

    position:absolute;

    left:0;

    width:100%;

}


.glitch::before {

    color:#00ffff;

    transform:translate(-3px);

    animation:glitchOne 1s infinite;

}


.glitch::after {

    color:#ffffff;

    transform:translate(3px);

    animation:glitchTwo 1s infinite;

}




@keyframes glitchOne {


    0%,100%{

        clip-path:inset(0);

    }


    50%{

        clip-path:inset(40% 0 20% 0);

    }

}



@keyframes glitchTwo {


    0%,100%{

        clip-path:inset(80% 0 0 0);

    }


    50%{

        clip-path:inset(10% 0 60% 0);

    }

}




h2 {

    color:#ff0033;

    letter-spacing:3px;

    margin-bottom:25px;

}





.terminal {


    background:#050505;

    border:1px solid #333;

    padding:20px;

    text-align:left;

    min-height:100px;

    margin-bottom:25px;


    color:#00ff88;

    box-shadow:

    inset 0 0 15px rgba(0,255,100,.2);

}




.content {


    color:#dddddd;

    line-height:1.8;

    text-align:left;

    font-size:15px;

}




.content h3 {


    color:#ff0033;

    margin-top:20px;

}



.content ul {


    margin:15px 0 15px 25px;

}


.content li {

    margin-bottom:8px;

}





footer {


    margin-top:30px;

    color:#ff0033;

    font-size:16px;

    letter-spacing:1px;

}




@media(max-width:600px){


    .alert-box{

        padding:20px;

    }


    .glitch{

        font-size:23px;

    }


    .content{

        font-size:14px;

    }

}
