*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:"Courier New",monospace;

}



body{

min-height:100vh;

background:

radial-gradient(circle at top,#003b5c,#020617 55%,#000);

color:white;

overflow-x:hidden;

}




/* Scan */

.scan{

position:fixed;

inset:0;

background:

linear-gradient(
transparent 50%,
rgba(0,255,153,.05) 50%
);

background-size:100% 5px;

pointer-events:none;

}




.container{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:40px;

}





.alert-box{

width:100%;

max-width:950px;

background:

rgba(2,15,30,.88);


border:1px solid #00ff99;


border-radius:20px;


padding:50px;


text-align:center;


box-shadow:

0 0 35px rgba(0,255,153,.35),

inset 0 0 40px rgba(0,150,255,.15);

}




/* Profile */


.profile{

margin-bottom:35px;

}



.profile img{


width:260px;

height:260px;


object-fit:cover;


border-radius:18px;


border:3px solid #00ff99;


box-shadow:

0 0 30px #00ff99;

}



.profile-info{

margin-top:20px;

}


.profile-info h3{

color:#00ff99;

letter-spacing:4px;

font-size:15px;

}



.profile-info p{

color:#00c8ff;

font-size:20px;

margin-top:10px;

}




/* Glitch */


.glitch{

position:relative;

font-size:45px;

color:#00c8ff;

margin-bottom:25px;

text-shadow:

0 0 20px #00c8ff;

}



.glitch::before,
.glitch::after{


content:attr(data-text);

position:absolute;

left:0;

width:100%;

}



.glitch::before{

color:#00ff99;

transform:translate(-3px);

animation:g1 1s infinite;

}



.glitch::after{

color:#008cff;

transform:translate(3px);

animation:g2 1s infinite;

}



@keyframes g1{


50%{

clip-path:inset(40% 0 20% 0);

}

}



@keyframes g2{


50%{

clip-path:inset(10% 0 60% 0);

}

}





h2{

color:#00ff99;

letter-spacing:5px;

margin-bottom:30px;

}





.terminal{

background:#000814;

border:1px solid #008cff;

padding:25px;

text-align:left;

line-height:1.8;

color:#00ff99;

border-radius:10px;

margin-bottom:30px;

}





.content{

text-align:left;

font-size:16px;

line-height:1.9;

color:#d7f9ff;

}



.content h3{

color:#00c8ff;

margin-top:25px;

}



.content ul{

margin:15px 0 15px 30px;

}




.content li{

margin-bottom:10px;

}





footer{

margin-top:35px;

color:#00ff99;

letter-spacing:2px;

}




/* Background Code */


.code-background{

position:fixed;

inset:0;

overflow:hidden;

pointer-events:none;

z-index:-1;

}



.code-background span{

position:absolute;

top:-50px;

color:rgba(0,255,153,.25);

letter-spacing:3px;

animation:codeFall linear forwards;

}



@keyframes codeFall{


from{

transform:translateY(-100px);

opacity:0;

}


20%{

opacity:1;

}


80%{

opacity:1;

}


to{

transform:translateY(110vh);

opacity:0;

}

}





@media(max-width:700px){


.container{

padding:20px;

}


.alert-box{

padding:25px;

}


.profile img{

width:180px;

height:180px;

}


.glitch{

font-size:27px;

}


.content{

font-size:14px;

}


}
